body {
  background-color: #C9D8B6;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;

}

h1 {
  color: #57837B;
  font-family: 'Yomogi', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #57837B;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #515E63;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #515E63;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #57837B;
}

p {
    line-height: 2;
}

hr {
  border: dotted #57837B 8px;
  border-bottom: none;
  margin: 100px auto;
  width: 5%;
}

.top-container {
  background-color: #F1ECC3;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  padding: 80px 0;
  position: relative;
}

.bottom-container {
  background-color: #F1ECC3;
  padding: 50px 0 20px;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 30%;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.copyright {
  color: #57837B;
  padding: 20px 0 10px;
  font-size: 0.75rem;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 32%;
}

.bottom-cloud {
  margin: 60px 0 80px 0;
  position: absolute;
  left: 25%;
}

.profile-img {
  width: 10%;
  height: 10%;
}

.code-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.data-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.btn {
  background: #57837B;
  background-image: -webkit-linear-gradient(top, #57837B, #86b89d);
  background-image: -moz-linear-gradient(top, #57837B, #86b89d);
  background-image: -ms-linear-gradient(top, #57837B, #86b89d);
  background-image: -o-linear-gradient(top, #57837B, #86b89d);
  background-image: linear-gradient(to bottom, #57837B, #86b89d);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #8ed4c3;
  background-image: -webkit-linear-gradient(top, #8ed4c3, #91ccac);
  background-image: -moz-linear-gradient(top, #8ed4c3, #91ccac);
  background-image: -ms-linear-gradient(top, #8ed4c3, #91ccac);
  background-image: -o-linear-gradient(top, #8ed4c3, #91ccac);
  background-image: linear-gradient(to bottom, #8ed4c3, #91ccac);
  text-decoration: none;
}
